    <!-- Masthead-->
<div class="wrapper">
    <header id="homeHeader" class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <div class="sign">
                        <span class="fast-flicker">T</span>ourna<span class="flicker">ment&nbsp;</span>Site
                    </div>
                    <!-- <h1 class="text-uppercase text-white font-weight-bold">Tournament Site
                    </h1> -->
                    
                </div>
                <div class="col-lg-8 align-self-baseline mt-5">
                    <hr class="divider my-3" />
                    <p class="text-white-75 font-weight-light mb-5">Welcome to CharonTech's Tournament Creator
                    </p>
                    <a class="btn btn-info btn-xl js-scroll-trigger" href="/tournaments/create">Create a tournament</a>
                </div>
            </div>
        </div>
    </header>

    <!-- Description Cards -->
    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card bg-dark text-white">
                        <video src="/assets/images/tournamentVideo.mp4" loop autoplay muted class="w-100"></video>
                        <div class="card-img-overlay">
                          <h5 class="card-title" style="font-size: 30px;">Intuitive and quick bracket builder</h5>
                          <p class="card-text" style="font-size: larger;">Make amazing brackets and manage tournaments with the option to create single elimination rounds</p>
                          <p class="card-text" style="font-size: larger;">Take your tournaments to the next step by using this bracket builder made by CharonTech</p>
                        </div>
                      </div>
                </div>
                
            </div>
            <hr class="divider my-3" />
            <div class="row">
                <div class="col-sm">
                    <div class="card bg-dark text-white">
                        <video src="/assets/images/carsVideo.mp4" loop autoplay muted class="w-100"></video>
                        <div class="card-img-overlay">
                          <h5 class="card-title" style="font-size: 30px;">Manage your tournaments with a simple click...</h5>
                          <p class="card-text" style="font-size: larger;">With features that include:</p>
                          <p class="card-text" style="font-size: larger;">
                            <ul type="none">
                                <li><img style="font-size: 30px;" src="/assets/images/bullet-point-symbol.png" alt="" height="25px">Score setting an single elimination</li>
                                <li><img style="font-size: 30px;" src="/assets/images/bullet-point-symbol.png" alt="" height="25px">Saving tournament as PDF file</li>
                                <li><img style="font-size: 30px;" src="/assets/images/bullet-point-symbol.png" alt="" height="25px">Appealing bracket structure</li>
                                <li><img style="font-size: 30px;" src="/assets/images/bullet-point-symbol.png" alt="" height="25px">Multiple amount and sets of participants</li>
                              </ul>
                        </p>
                        </div>
                      </div>
                </div>
                
            </div>
            <hr class="divider my-3" />
            <div class="row">
                <div class="col-sm">
                    <div class="card bg-dark text-white">
                        <video src="/assets/images/soccerVideo.mp4" loop autoplay muted class="w-100"></video>
                        <div class="card-img-overlay">
                          <h5 class="card-title" style="font-size: 30px;">Register yourself and start creating now!</h5>
                          <p class="card-text" style="font-size: larger;">When registering to to our platform you will have the option to keep a list of your tournaments with different options to run, edit and delete</p>
                          <p class="card-text" style="font-size: larger;">And all of this for free! What are you waiting for?</p>
                        </div>
                      </div>
                </div>
                
            </div>
        </div>
        
       
    </section>

    <!-- Tournaments  -->
    <section class="page-section" id="tournaments">
        <div class="container">
        <h1 class="display-7">Tournaments</h1>
            <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th class="text-center">Game Name</th>
                  <th class="text-center">End date</th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- Template Row -->
                <% for (let count = 0; count < tournaments.length; count++) { %>
                <tr>
                  <td><%= tournaments[count].title %></td>
                  <td class="text-center"><%= tournaments[count].game %></td>
                  <td class="text-center"><%= moment(tournaments[count].endsAt).format("MMM DD, YYYY") %></td>
                  <td class="text-center">
                    <a class="btn btn-sm btn-success" href="tournaments/view/<%= tournaments[count]._id %>">
                        View
                    </a>
                  </td>
                  <% let finalStatus = tournaments[count].getTopTeam(); %>
                  <td class="text-center">
                    <button
                        type="button"
                        class="btn btn-sm btn-warning tournament-status-btn"
                        data-toggle="modal"
                        data-target="#tournamentStatusModal"
                        data-tournament-name="<%= tournaments[count].title %>"
                        data-top4-teams="<%= tournaments[count].getTop4Teams().join(',') %>"
                        data-final-status="<%= finalStatus.status %>"
                        data-top-team="<%= finalStatus.topTeam %>"
                        data-winner-decided="<%= typeof tournaments[count].finalBracket === 'bool' %>"
                    >
                        Results
                    </button>
                  </td>

                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
            </div>
        </div>
    </section>

    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">Contact Us!</h2>
                    <hr class="divider my-4" />
                    <p class="text-muted mb-5">For any suggestions or concerns, feel free to contact us
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                    <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                    <div>(416)-357-0134</div>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                    <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                    <a class="d-block" href="/contact"><button type="button" class="btn btn-info">Send an e-mail
                                </button></a>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="tournamentStatusModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Leading Teams for <span id="tournamentStatusName"></span></h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <section>
                        <h5>Final Match Status</h5>
                        <p id="tournamentFinalMatchStatus"></p>
                        <p id="tournamentFinalMatchTeam"></p>
                    </section>
                    <section>
                        <h5>Teams in Top 4</h5>
                        <ul>
                            <li id="tournamentStatusTeam1"></li>
                            <li id="tournamentStatusTeam2"></li>
                            <li id="tournamentStatusTeam3"></li>
                            <li id="tournamentStatusTeam4"></li>
                        </ul>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>